<!DOCTYPE html>
<html lang="fr" xml:lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <title><%= title %></title>
    
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">

</head>

<body>

    <%- content %>

<script type="text/javascript" src="/public/js/map.js"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe9KdACyqIN0zYu1yKdp79YrYPYRRagZk&callback=initMap">
</script>

</body>
</html>