<div id="ui-container">
    <div id="controls-panel">
        <nav>
            <div>
                <p><%= app_title %></p>
                <img class="menu" src="" alt=""/>
            </div>
        </nav>
    </div>
</div>

<div id="map"></div>